
.site-layout .site-layout-background {
  background: #fff;
}

.cardDisplay {
  vertical-align: top;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  overflow-y: scroll;
  min-height: 90vh;
  align-items: stretch;
  justify-content: flex-start;
  padding: 20px;
}

.timelineDisplay {
  align-items: baseline;
}

.name {
  width: 150px;
  height: 31px;
  margin: 16px 28px 16px 0;
  float: left;
  color: white;
}
